In [363]:
#fazendo os imports necessarios

#precisamos do webdriver pois a pagina que coletamos eh dinamica, o HTML nao eh tao simples
from selenium import webdriver

#O By usamos para auxiliar na hora de localizar os elementos
from selenium.webdriver.common.by import By

#pandas eh para manipulacao de dados
import pandas as pd

In [364]:
#URL do website que vamos usar, eh de um varejo de carros dos EUA
website = 'https://www.truecar.com/used-cars-for-sale/listings/location-fenton-la/'

In [365]:
#instanciamos um objeto do tipo driver, no caso Chrome e mandamos ele acessar a URL do site
driver = webdriver.Chrome()
driver.get(website)

In [366]:
#apontamos no site onde estao os elementos que queremos e pedimos para o driver localizar e resgatar
precosCarros = driver.find_elements(By.CLASS_NAME,"vehicle-card-bottom-pricing-secondary")

#agora vamos buscar os nomes dos carros, apontando para o nosso driver onde eles estao na pagina e pedindo que eles busque e nos traga essas infos
NomesCarros = driver.find_elements(By.CLASS_NAME,"vehicle-card-header")

#agora vamos coletar as infos de quantas milhas o carro percorreu, fazendo no mesmo esquema de indicar pro drive onde a informacao esta
MilesCar = driver.find_elements(By.CSS_SELECTOR,".truncate.text-xs[data-test=""vehicleMileage""]")

In [367]:
#vamos mexer primeiro em precos
#lista auxiliar para guardar os valores retornados
listPrecos = []

#loop para percorrer os valores retornados e armazenar o text deles na lista
for item in precosCarros:
    listPrecos.append(item.text)
    
#alguns elementos tem esse \n entre os precos, vamos separar e manter o primeiro que aparece
print(listPrecos)

['$48,589', '$12,589', '$19,999', '$20,378', '$18,990', '$24,800', '$35,998', '$30,990', '$22,700', '$36,998', '$32,990', '$30,998', '$37,998', '$33,998', '$40,998\n$39,998', '$19,998', '$45,998', '$37,990', '$16,990', '$19,998', '$32,850', '$15,990', '$36,998\n$35,998', '$25,990', '$42,998\n$39,998', '$20,998\n$19,998', '$19,998', '$22,998\n$21,998', '$28,998', '$42,998', '$36,998', '$36,998\n$35,998', '$32,895']

In [368]:
#lista final com os valores dos precos
list_final_precos = []

#loop pra percorrer a lista de precos
for elemento in listPrecos:
    #checa se ha '\n' no elemento
    if '\n' in elemento:
        #se houver, separa o elemento usando '\n' como separador e coloca so a primeira parte na lista final
        parte1, _ = elemento.split('\n', 1)
        list_final_precos.append(parte1)
    else:
        #se nao houver o '\n', adiciona o elemento intacto na lista_final
        list_final_precos.append(elemento)

#mostra a lista final
print(list_final_precos)

['$48,589', '$12,589', '$19,999', '$20,378', '$18,990', '$24,800', '$35,998', '$30,990', '$22,700', '$36,998', '$32,990', '$30,998', '$37,998', '$33,998', '$40,998', '$19,998', '$45,998', '$37,990', '$16,990', '$19,998', '$32,850', '$15,990', '$36,998', '$25,990', '$42,998', '$20,998', '$19,998', '$22,998', '$28,998', '$42,998', '$36,998', '$36,998', '$32,895']

In [369]:
#vamos remover o simbolo de dolar e transformar em numero float as unidades (para facilitar os calculos)
for i in range(len(list_final_precos)):
    #funcao replace vai numa string e substitui o que a gente pedir pelo valor que pedirmos, no caso abaixo substituimos $ e as virgulas, alem de transformarmos em float
    list_final_precos[i] = float(list_final_precos[i].replace("$","").replace(",","."))

print(list_final_precos)

[48.589, 12.589, 19.999, 20.378, 18.99, 24.8, 35.998, 30.99, 22.7, 36.998, 32.99, 30.998, 37.998, 33.998, 40.998, 19.998, 45.998, 37.99, 16.99, 19.998, 32.85, 15.99, 36.998, 25.99, 42.998, 20.998, 19.998, 22.998, 28.998, 42.998, 36.998, 36.998, 32.895]

In [370]:
#agora vamos ver os nomes
#lista auxiliar para guardar os valores retornados
listNomesCarros = []

#loop para percorrer os valores retornados e armazenar o text deles na lista
for item in NomesCarros:
    listNomesCarros.append(item.text)

#a lista nos retorna os nomes e os anos, mas estao separados por esse \n e alguns elementos tem esse 'sponsored', a ideia eh tirar o sponsored e armazenar os valores de nome e ano em listas diferentes   
print(listNomesCarros)

['Sponsored\n2023\nFord Bronco', 'Sponsored\n2019\nHyundai Elantra', 'Sponsored\n2022\nToyota Corolla', '2019\nChevrolet Silverado 1500', '2021\nChevrolet Malibu', '2019\nLincoln MKT', '2021\nFord F-150', '2019\nFord F-150', '2020\nFord Explorer', '2021\nFord F-150', '2019\nChevrolet Silverado 1500', '2021\nFord Explorer', '2018\nFord F-150', '2021\nFord F-150', '2021\nFord F-150', '2022\nChevrolet Malibu', '2023\nFord F-150', '2020\nGMC Sierra 1500', '2020\nHyundai Kona', '2022\nChevrolet Malibu', '2020\nFord Transit Cargo Van', '2015\nJeep Grand Cherokee', '2021\nFord F-150', '2020\nMitsubishi Outlander', '2021\nRam 1500', '2022\nChevrolet Malibu', '2020\nFord Fusion', '2022\nChevrolet Malibu', '2018\nFord F-150', '2021\nFord F-150', '2020\nRam 1500', '2021\nRam 1500', '2019\nFord F-150']

In [371]:
#lista auxiliar para guardar os valores retornados
listAux_NomeAno = []

#vamos tirar a palavra sponsored
#loop para percorrer a lista
for item in listNomesCarros:
    #se tiver sponsored no item, tira ele e armazena o resto da string, se nao, armazena o valor normal mesmo
    if 'Sponsored' in item:
        listAux_NomeAno.append(item.replace("Sponsored", "").strip())
    else:
        listAux_NomeAno.append(item)

#agora vamos separar os anos e os nomes e guardar cada um em sua respectiva lista 
print(listAux_NomeAno)

['2023\nFord Bronco', '2019\nHyundai Elantra', '2022\nToyota Corolla', '2019\nChevrolet Silverado 1500', '2021\nChevrolet Malibu', '2019\nLincoln MKT', '2021\nFord F-150', '2019\nFord F-150', '2020\nFord Explorer', '2021\nFord F-150', '2019\nChevrolet Silverado 1500', '2021\nFord Explorer', '2018\nFord F-150', '2021\nFord F-150', '2021\nFord F-150', '2022\nChevrolet Malibu', '2023\nFord F-150', '2020\nGMC Sierra 1500', '2020\nHyundai Kona', '2022\nChevrolet Malibu', '2020\nFord Transit Cargo Van', '2015\nJeep Grand Cherokee', '2021\nFord F-150', '2020\nMitsubishi Outlander', '2021\nRam 1500', '2022\nChevrolet Malibu', '2020\nFord Fusion', '2022\nChevrolet Malibu', '2018\nFord F-150', '2021\nFord F-150', '2020\nRam 1500', '2021\nRam 1500', '2019\nFord F-150']

In [372]:
#listas auxiliares para guardar os valores apos a divisao
list_final_ano = []
list_final_nome = []

#loop para percorrer a lista auxiliar
for item in listAux_NomeAno:
    #separa em ano e nome, usando como separador o '\n'
    ano, nome = item.split('\n',2)
    
    #acrescenta cada um para sua lista
    list_final_ano.append(ano)
    list_final_nome.append(nome)

In [373]:
print(list_final_ano)

['2023', '2019', '2022', '2019', '2021', '2019', '2021', '2019', '2020', '2021', '2019', '2021', '2018', '2021', '2021', '2022', '2023', '2020', '2020', '2022', '2020', '2015', '2021', '2020', '2021', '2022', '2020', '2022', '2018', '2021', '2020', '2021', '2019']

In [374]:
print(list_final_nome)

['Ford Bronco', 'Hyundai Elantra', 'Toyota Corolla', 'Chevrolet Silverado 1500', 'Chevrolet Malibu', 'Lincoln MKT', 'Ford F-150', 'Ford F-150', 'Ford Explorer', 'Ford F-150', 'Chevrolet Silverado 1500', 'Ford Explorer', 'Ford F-150', 'Ford F-150', 'Ford F-150', 'Chevrolet Malibu', 'Ford F-150', 'GMC Sierra 1500', 'Hyundai Kona', 'Chevrolet Malibu', 'Ford Transit Cargo Van', 'Jeep Grand Cherokee', 'Ford F-150', 'Mitsubishi Outlander', 'Ram 1500', 'Chevrolet Malibu', 'Ford Fusion', 'Chevrolet Malibu', 'Ford F-150', 'Ford F-150', 'Ram 1500', 'Ram 1500', 'Ford F-150']

In [375]:
#agora vamos checar as milhas
#lista auxiliar para guardar os valores
listMiles = []

#loop para percorrer os valores retornados e armazenar o text deles na lista
for item in MilesCar:
    listMiles.append(item.text)

#vamos tirar esse miles do final da string e transformar em float os numeros    
print(listMiles)

['1,658 miles', '73,608 miles', '12,574 miles', '207,382 miles', '67,453 miles', '46,646 miles', '37,641 miles', '48,658 miles', '91,344 miles', '42,959 miles', '71,478 miles', '28,348 miles', '80,423 miles', '59,013 miles', '20,729 miles', '37,018 miles', '18,064 miles', '84,881 miles', '58,003 miles', '42,281 miles', '51,553 miles', '96,477 miles', '36,836 miles', '47,917 miles', '31,144 miles', '34,201 miles', '29,734 miles', '37,351 miles', '62,433 miles', '49,018 miles', '29,701 miles', '27,640 miles', '81,567 miles']

In [376]:
#lista final dos valores
list_final_miles = []

#loop para percorrer a lista auxiliar e retirar a palavra miles do final de cada registro
for item in listMiles:
    miles, _ = item.split(" ",1)
    list_final_miles.append(miles)

#agora vamos converter para float    
print(list_final_miles)

['1,658', '73,608', '12,574', '207,382', '67,453', '46,646', '37,641', '48,658', '91,344', '42,959', '71,478', '28,348', '80,423', '59,013', '20,729', '37,018', '18,064', '84,881', '58,003', '42,281', '51,553', '96,477', '36,836', '47,917', '31,144', '34,201', '29,734', '37,351', '62,433', '49,018', '29,701', '27,640', '81,567']

In [377]:
#loop para percorrer a lista
for i in range(len(list_final_miles)):
    #em cada elemento, substitui a virgula por ponto e transforma em float
    list_final_miles[i] = float(list_final_miles[i].replace(",","."))
    
print(list_final_miles)

[1.658, 73.608, 12.574, 207.382, 67.453, 46.646, 37.641, 48.658, 91.344, 42.959, 71.478, 28.348, 80.423, 59.013, 20.729, 37.018, 18.064, 84.881, 58.003, 42.281, 51.553, 96.477, 36.836, 47.917, 31.144, 34.201, 29.734, 37.351, 62.433, 49.018, 29.701, 27.64, 81.567]

In [378]:
#Agora vamos fechar o webdriver (tentamos fechar ele antes, porem dava erro)
driver.close()

In [379]:
#vamos juntar essas infos que coletamos em um dataframe

#colocamos um dict, com o nome da coluna e o conteudo dela
data = {'Modelo do carro':list_final_nome,'Preco ($)':list_final_precos,'Ano':list_final_ano,'Milhas percorridas':list_final_miles}

#funcao dataframe para criar o df
df = pd.DataFrame(data)

In [380]:
df

             Modelo do carro  Preco ($)   Ano  Milhas percorridas
0                Ford Bronco     48.589  2023               1.658
1            Hyundai Elantra     12.589  2019              73.608
2             Toyota Corolla     19.999  2022              12.574
3   Chevrolet Silverado 1500     20.378  2019             207.382
4           Chevrolet Malibu     18.990  2021              67.453
5                Lincoln MKT     24.800  2019              46.646
6                 Ford F-150     35.998  2021              37.641
7                 Ford F-150     30.990  2019              48.658
8              Ford Explorer     22.700  2020              91.344
9                 Ford F-150     36.998  2021              42.959
10  Chevrolet Silverado 1500     32.990  2019              71.478
11             Ford Explorer     30.998  2021              28.348
12                Ford F-150     37.998  2018              80.423
13                Ford F-150     33.998  2021              59.013
14                Ford F-150     40.998  2021              20.729
15          Chevrolet Malibu     19.998  2022              37.018
16                Ford F-150     45.998  2023              18.064
17           GMC Sierra 1500     37.990  2020              84.881
18              Hyundai Kona     16.990  2020              58.003
19          Chevrolet Malibu     19.998  2022              42.281
20    Ford Transit Cargo Van     32.850  2020              51.553
21       Jeep Grand Cherokee     15.990  2015              96.477
22                Ford F-150     36.998  2021              36.836
23      Mitsubishi Outlander     25.990  2020              47.917
24                  Ram 1500     42.998  2021              31.144
25          Chevrolet Malibu     20.998  2022              34.201
26               Ford Fusion     19.998  2020              29.734
27          Chevrolet Malibu     22.998  2022              37.351
28                Ford F-150     28.998  2018              62.433
29                Ford F-150     42.998  2021              49.018
30                  Ram 1500     36.998  2020              29.701
31                  Ram 1500     36.998  2021              27.640
32                Ford F-150     32.895  2019              81.567